// Base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%; 
  overflow-x: hidden;
}

body {
  font-family: $font-family;
  color: $primary-color;
  line-height: $line-height;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.2rem;
  line-height: 1em;
  font-weight: 500;
  margin-bottom: 0.5em;
  text-transform: capitalize;
  
  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 2.1rem;
    font-weight: 500;
  }
}

h2 {
  font-size: 2.1rem;
  font-weight: bold;
  text-transform: capitalize;
  
  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 1.9rem;
    font-weight: 500;
  }
}

p {
  color: $secondary-color;
}

input[type=email] {
  font-size: 18px;
  letter-spacing: 1px;
}